<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QuestionaireModel -->
      <package
            uri="platform:/resource/Questionaire/model/QuestionaireModel.ecore"
            class="questionairemodel.QuestionairemodelPackage"
            genModel="model/QuestionaireModel.genmodel"/>
   </extension>

</plugin>
